<div class="homepage">
  <h1>Society of Gamers</h1>
  <h2>
    Welcome to the site for Society of Gamers!
  </h2>
  <p>We are just a bunch of people trying to have fun so how about come to our discord and say Hi! If you are already there you can use this stire to check your CSGO stats, register / login for playing minecraft and register for our community events!</p>
  <app-discord-button></app-discord-button>
</div>
