.background {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #041d4b;
    background: linear-gradient(135deg, rgb(4, 29, 75) 0%, rgb(39, 39, 39) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    img {
      opacity: 0.02;
      position: relative;
      top: 80%;
      left: 75%;
      transform: translate(-50%, -50%);
      width: 125%;
    }
}
