<app-background></app-background>
<div class="app">
  <div class="navigation">
    <app-navigation-menu></app-navigation-menu>
    <!-- <app-profile-menu></app-profile-menu> -->
  </div>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
