main {
  position: absolute;
  z-index: 1000;
  left: 55%;
  top: 50%;
  display: block;
  width: 80%;
  transform: translate(-50%, -50%);
  height: 100%;
  color: #fff;
}
.navigation {
  position: fixed;
  z-index: 10000;
}
