<nav>
  <ul>
    <li [class]="{'active': this.activeState === 'home'}">
      <a routerLink="/">
        <fa-icon [icon]="faHouse"></fa-icon>
        <label for="">Home</label>
      </a>
    </li>
    <li [class]="{'active': this.activeState === 'community'}">
      <a routerLink="/community">
        <fa-icon [icon]="faUsers"></fa-icon>
        <label>Community</label>
      </a>
    </li>
    <li [class]="{'active': this.activeState === 'discord'}">
      <a routerLink="/discord">
        <fa-icon [icon]="faDiscord"></fa-icon>
        <label for="">Discord</label>
      </a>
    </li>
    <li [class]="{'active': this.activeState === 'minecraft'}">
      <a routerLink="/minecraft">
        <fa-icon [icon]="faCube"></fa-icon>
        <label for="">Minecraft</label>
      </a>
    </li>
    <li [class]="{'active': this.activeState === 'csgo'}">
      <a routerLink="/csgo">
        <fa-icon [icon]="faPersonRifle"></fa-icon>
        <label>Counter Strike </label>
      </a>
    </li>
  </ul>
</nav>
