nav {
  position: fixed;
  background: #272727;
  border-radius: 50px;
  box-shadow: #000 0px 0px 10px;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  transition: all 0.2s;
  &:hover {
    ul {
      max-width: 300px;
      width: 300px;
    }
  }
  ul {
    z-index: 100000;
    transition: all 0.2s;
    max-width: 80px;
    width: 80px;
    list-style-type: none;
    padding: 20px 20px;
    box-sizing: border-box;
    overflow: hidden;
    li {
      width: 40px;
      text-align: center;
      padding: 25px 0;
      position: relative;
      &.active {
        &:before {
          content: '';
          display: block;
          transform: translateX(-20px) rotate(45deg);
          width: 50px;
          height: 50px;
          position: absolute;
          left: -50px;
          background: #fff;
        }
        * {
          color: #fff;
        }
      }
      a {
        font-size: 30px;
        display: flex;
        width: 300px;
        cursor: pointer;
        color: #cacaca;
        vertical-align: middle;
        text-decoration: none;
        align-items: center;
        &:hover {
          color: #fff;
        }
        fa-icon {
          position: relative;
          margin-right: 20px;
          width: 40px;
        }
        label {
          font-size: 24px;
          position: relative;
          vertical-align: middle;
          cursor: pointer;
        }
      }
    }
  }
}
