/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  font-size: 14px;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2em;
}
