a {
  border-radius: 10px;
  min-width: 10vw;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 15px 25px;
  display: flex;
  position: relative;
  max-width: 250px;
  margin: 25px auto;
  font-size: 1.5em;
  transition: all 0.1s;
  * {
  transition: all 0.1s;

  }
  fa-icon {
    display: inline-block;
    position: relative;
  }
  &:hover {
    border-color: #041d4b;
    color: #041d4b;
    background-color: #fff;
  }
  span {
    display: inline-block;
    padding-left: 15px;
    min-width: 80%;
  }
}
